<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Formulário enviado com sucesso!</h1>
        <br>
        <p>Basta ficar atento na sua caixa de entrada e espere o seu email chegar!</p>
        <br>
        <p>Pode demorar um certo tempo para você receber o email, se o email da confirmação não for enviado tente novamente em alguns minutos</p>
        <p>Não abuse da plataforma, use-a com moderação!</p>
        <a href="/"><button>Voltar</button></a>
    </div>
    <footer>
        <p>Luiz Claudio &copy 2020</p>
    </footer>
</body>
</html>
